[General]
input_fofn = input2.fofn

input_type = raw

# The length cutoff used for seed reads used for initial mapping
length_cutoff = 5000

# The length cutoff used for seed reads usef for pre-assembly
length_cutoff_pr = 5000


sge_option_da = -pe smp 4 -q bigmem
sge_option_la = -pe smp 20 -q bigmem
sge_option_pda = -pe smp 6 -q bigmem 
sge_option_pla = -pe smp 16 -q bigmem
sge_option_fc = -pe smp 24 -q bigmem
sge_option_cns = -pe smp 8 -q bigmem

pa_concurrent_jobs = 192
cns_concurrent_jobs = 192
ovlp_concurrent_jobs = 192

pa_HPCdaligner_option =  -v -dal128  -e0.75 -M24 -l2500 -k18 -h1250 -w8 -s100
ovlp_HPCdaligner_option =  -v -dal128  -M24 -k24 -h1250 -e.96 -l1500 -s100 

pa_DBsplit_option = -a -x500 -s200
ovlp_DBsplit_option = -s200


falcon_sense_option = --output_multi --output_dformat --min_idt 0.70 --min_cov 4 --max_n_read 400 --n_core 8 
falcon_sense_skip_contained = False

overlap_filtering_setting = --max_diff 120 --max_cov 120 --min_cov 4 --n_core 12
